<mat-card class="card">
    <mat-card-header>
        <mat-toolbar color="primary">
            <span>Gloubi-boulga</span>
            <span class="example-fill-remaining-space"></span>
            <button mat-raised-button color="warn" (click)="onDeleteGloubi()">
                <mat-icon>delete</mat-icon>Supprimer
            </button>
        </mat-toolbar>
    </mat-card-header>
    <form [formGroup]="gloubiForm">
        <table mat-table [dataSource]="tracks">
            <ng-container matColumnDef="order">
                <th mat-header-cell *matHeaderCellDef>N° ordre</th>
                <td mat-cell *matCellDef="let track">{{ track.order }}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input matInput type="number" formControlName="order" />
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef>Titre de l'extrait</th>
                <td mat-cell *matCellDef="let track">{{ track.title }}</td>
                <td mat-footer-cell *matFooterCellDef>
                    <mat-form-field>
                        <input matInput type="text" formControlName="title" />
                    </mat-form-field>
                </td>
            </ng-container>
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef>Actions</th>
                <td mat-cell *matCellDef="let track" class="actions-container">
                    <button
                        type="button"
                        mat-mini-fab
                        color="primary"
                        matTooltip="Editer détails"
                        (click)="editTrack(track)"
                    >
                        <mat-icon aria-label="Editer détails">tune</mat-icon>
                    </button>
                    <button
                        type="button"
                        mat-mini-fab
                        color="warn"
                        matTooltip="Supprimer"
                        (click)="deleteTrack(track)"
                    >
                        <mat-icon aria-label="Supprimer">delete</mat-icon>
                    </button>
                    <mat-icon
                        class="warning"
                        color="warn"
                        *ngIf="!track.dataURI"
                        matTooltip="L'extrait audio n'est pas configuré. Editez l'extrait dans le menu Editer"
                        >warning</mat-icon
                    >
                </td>
                <td mat-footer-cell *matFooterCellDef>
                    <button
                        mat-mini-fab
                        color="primary"
                        matTooltip="Ajouter une piste"
                        (click)="addNewTrack()"
                        [disabled]="!gloubiForm.valid"
                    >
                        <mat-icon>plus_one</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr
                mat-row
                *matRowDef="let myRowData; columns: columnsToDisplay"
            ></tr>
            <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
        </table>
    </form>
</mat-card>
