<form [formGroup]="trackForm">
    <h1 mat-dialog-title>
        Modifier
        <mat-form-field>
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        <span *ngIf="!data.isGloubi"
            ><i>par</i>
            <mat-form-field>
                <mat-chip-list #chipList>
                    <mat-chip
                        *ngFor="
                            let artist of trackForm.controls['artists'].value
                        "
                        [selectable]="true"
                        [removable]="true"
                        (removed)="removeArtistFromTrack(artist)"
                    >
                        {{ artist }}
                        <mat-icon matChipRemove>cancel</mat-icon>
                    </mat-chip>
                    <input
                        placeholder="Artistes..."
                        [matChipInputFor]="chipList"
                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                        [matChipInputAddOnBlur]="true"
                        (matChipInputTokenEnd)="addNewArtistToTrack($event)"
                    />
                </mat-chip-list>
            </mat-form-field>
        </span>
    </h1>
    <mat-dialog-content> </mat-dialog-content>
    <div class="container">
        <button
            mat-raised-button
            color="primary"
            (click)="onFileUploadClicked()"
        >
            <mat-icon>audiotrack</mat-icon> Importer un fichier
        </button>
        <input
            id="fileInput"
            type="file"
            accept=".mp3,.wav,audio/mpeg,audio/mp4,audio/ogg,audio/vnd.wav"
            (change)="onFileUploaded($event)"
            style="display:none;"
        />
        <mat-spinner *ngIf="loading" [diameter]="30"></mat-spinner>
        <i
            *ngIf="!!trackForm.controls.dataURI?.value && previewDuration"
            class="preview-duration"
            >Durée de la piste : {{ previewDuration | timeFormat }}</i
        >
    </div>
    <div class="container">
        <nouislider
            [ngClass]="'duration-picker'"
            [ngStyle]="{ padding: '0em 1.7em' }"
            *ngIf="loaded"
            [connect]="true"
            [min]="0"
            [max]="previewDuration"
            [tooltips]="formatters"
            [step]="1"
            [formControl]="trackForm.controls['durationRange']"
        ></nouislider>
        <span *ngIf="loaded" class="preview-play-btn">
            <button
                mat-mini-fab
                color="primary"
                matTooltip="Aperçu de l'extrait"
                (click)="togglePlay()"
            >
                <mat-icon *ngIf="!playing; else pause">play_arrow</mat-icon>
                <ng-template #pause> <mat-icon>pause</mat-icon> </ng-template>
            </button>
        </span>
    </div>
    <i *ngIf="loaded"
        >Durée selectionnée : {{ durationSelected | timeFormat }}</i
    >
    <mat-dialog-actions
        ><button
            mat-raised-button
            color="primary"
            [mat-dialog-close]="trackForm.value"
            [disabled]="
                !trackForm.valid || !!trackForm.controls.durationRange?.disabled
            "
        >
            <mat-icon>save</mat-icon>Enregistrer
        </button>
        <button mat-raised-button color="warn" mat-dialog-close>
            <mat-icon>close</mat-icon>
            Annuler
        </button></mat-dialog-actions
    >
</form>
