::ng-deep .noUi-target {
    margin-top: 3em;
}

::ng-deep .noUi-connect {
    background-color: #673ab7;
}
::ng-deep .noUi-handle.noUi-handle-upper,
::ng-deep .noUi-handle.noUi-handle-lower {
    width: 17px;
}

.container {
    display: flex;
    justify-content: space-between;
}

.duration-picker {
    flex-grow: 35;
}
.preview-play-btn {
    position: relative;
    bottom: 1em;
    flex-grow: 1;
    align-self: flex-end;
}
.preview-duration {
    align-self: center;
}
