<form [formGroup]="blindtestForm" (ngSubmit)="onUpdateBlindtest()">
    <h1>
        Modifier le blindtest
        <mat-form-field [ngStyle]="{ width: '250px' }">
            <input matInput type="text" formControlName="title" />
        </mat-form-field>
        - <i> par </i>
        <mat-form-field>
            <input matInput type="text" formControlName="author" />
        </mat-form-field>
        <button
            *ngIf="
                blindtestForm.controls['title']?.value !== blindtest?.title ||
                blindtestForm.controls['author']?.value !== blindtest?.author
            "
            mat-flat-button
            color="primary"
            matTooltip="Valider les changements"
            [disabled]="!blindtestForm.valid"
        >
            <mat-icon>check_outline</mat-icon>
        </button>
    </h1>
</form>
<div class="container">
    <button mat-raised-button color="primary" (click)="onAddTheme()">
        <mat-icon>plus_one</mat-icon>Ajouter un thème
    </button>
    <button
        *ngIf="!blindtest?.gloubi"
        mat-raised-button
        color="primary"
        (click)="onAddGloubi()"
    >
        <mat-icon>plus_one</mat-icon>Ajouter un Gloubi-boulga
    </button>
    <app-theme-table
        *ngFor="let theme of themes"
        [theme]="theme"
        (deleteTheme)="onDeleteTheme(theme)"
        (updateTheme)="onUpdateTheme($event)"
    >
    </app-theme-table>
    <app-gloubi-table
        *ngIf="gloubi"
        [gloubi]="gloubi"
        (updateGloubi)="onUpdateGloubi($event)"
        (deleteGloubi)="onDeleteGloubi()"
    ></app-gloubi-table>
</div>
