<mat-card class="card">
    <mat-card-header>
        <mat-toolbar color="primary">
            <form [formGroup]="themeForm" (ngSubmit)="onModifyTheme()">
                <span>
                    Thème n°
                    <mat-form-field [ngStyle]="{ width: '2em' }">
                        <input
                            matInput
                            type="number"
                            min="1"
                            max="99"
                            formControlName="orderRank"
                        />
                    </mat-form-field>
                    :
                    <mat-form-field>
                        <input matInput type="text" formControlName="name" />
                    </mat-form-field>
                    <button
                        *ngIf="
                            themeForm.get('orderRank').value !==
                                theme.orderRank ||
                            themeForm.controls['name'].value !== theme.name
                        "
                        mat-flat-button
                        color="primary"
                        matTooltip="Valider les changements"
                        [disabled]="!themeForm.valid"
                    >
                        <mat-icon>check</mat-icon>
                    </button>
                </span>
            </form>
            <span class="example-fill-remaining-space"></span>
            <button
                mat-raised-button
                color="warn"
                (click)="onDeleteThemeClicked()"
            >
                <mat-icon>delete</mat-icon>Supprimer
            </button>
        </mat-toolbar>
    </mat-card-header>
    <table mat-table [dataSource]="tracks">
        <ng-container matColumnDef="orderRank">
            <th mat-header-cell *matHeaderCellDef>N° ordre</th>
            <td mat-cell *matCellDef="let track">{{ track.orderRank }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="artists">
            <th mat-header-cell *matHeaderCellDef>Artiste(s)</th>
            <td mat-cell *matCellDef="let track">
                <span *ngFor="let artist of track.artists; last as last"
                    >{{ artist }} <span *ngIf="!last"> - </span>
                </span>
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="title">
            <th mat-header-cell *matHeaderCellDef>Titre</th>
            <td mat-cell *matCellDef="let track">{{ track.title }}</td>
            <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="duration">
            <th mat-header-cell *matHeaderCellDef>Durée de l'extrait</th>
            <td mat-cell *matCellDef="let track">
                {{ track.duration ? (track.duration | timeFormat) : '' }}
            </td>
            <td mat-footer-cell *matFooterCellDef>
                {{ getThemeDuration() | timeFormat }}
            </td>
        </ng-container>
        <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef>Actions</th>
            <td mat-cell *matCellDef="let track" class="actions-container">
                <button
                    mat-mini-fab
                    type="button"
                    color="primary"
                    matTooltip="Editer"
                    (click)="onEditTrack(track)"
                >
                    <mat-icon aria-label="Supprimer">tune</mat-icon>
                </button>
                <button
                    mat-mini-fab
                    type="button"
                    color="warn"
                    matTooltip="Supprimer"
                    (click)="onDeleteTrack(track)"
                >
                    <mat-icon aria-label="Supprimer">delete</mat-icon>
                </button>
                <mat-icon
                    class="warning"
                    color="warn"
                    *ngIf="!track.data_id"
                    matTooltip="L'extrait audio n'est pas configuré. Editez l'extrait dans le menu Editer"
                    >warning</mat-icon
                >
            </td>
            <td mat-footer-cell *matFooterCellDef>
                <button
                    mat-mini-fab
                    color="primary"
                    matTooltip="Ajouter un extrait"
                    (click)="onAddTrack()"
                >
                    <mat-icon aria-label="Ajouter un extrait"
                        >plus_one</mat-icon
                    >
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
        <tr mat-footer-row *matFooterRowDef="columnsToDisplay"></tr>
    </table>
</mat-card>
