table {
    width: 100%;
}
.card {
    margin-top: 1em;
}
.actions-container {
    display: flex;
}
.warning {
    font-size: 3.2em;
    align-self: flex-start;
    text-shadow: 0px 3px 3px rgba(0, 0, 2, 0.2);
    position: relative;
    bottom: 3px;
}
.example-fill-remaining-space {
    flex: 1 1 auto;
}
::ng-deep .mat-card-header {
    display: block !important;
    flex-direction: unset !important;
}

::ng-deep .mat-card {
    padding: 0 !important;
}
